body {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: #109BF2;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  width: 33%;
  min-width: 33%;
  height: 100vh;
}

.city-select {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin: 1.5em 0;
}

label {
  margin-right: 1em;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.location {
  color: #B74F6F;
  font-weight: bolder;
}

span {
  color: #B74F6F;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 1em;
  height: 100vh;
  width: 66%;
}

.deets-wrapper {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  border: 1px solid;
  border-radius: 5px;
  padding: 1em;
}

.data-wrapper {
  width: 100%;
  height: 100vh;
}

.bubble {
  cursor: pointer;
  opacity: .97;
}

li {
  margin: 1em 0;
  font-size: 1rem;
}

li:last-child {
  margin-bottom: 0;
}

code { 
  background: #f4f4f4;
  border: 1px solid #ddd;
  color: #666;
  font-size: .9rem;
}

.bubble {
  opacity: .97;
}

#toolbar {
  margin-top: 10px;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #35281D;
  background: #fff;
	opacity: .9;
  color: #35281D;
	padding: 10px;
	width: fit-content;
	font-size: .8rem;
	z-index: 10;
}

.tooltip .title {
	font-size: 1rem;
}

.tooltip .name {
  font-size: .8rem;
  font-weight: bold;
}

.tooltip span {
  color: #35281D;
}



