body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: #109BF2;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
}

.location {
  color: #B74F6F;
  font-weight: bolder;
}

span {
  color: #B74F6F;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 100vh;
}

.regions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20%;
  justify-content: space-between;
  text-align: center;
  height: 100vh;
}

.region-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: -webkit-fill-available;
}

.region-items > large {
  margin-bottom: -1rem;
}

.deets-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20%;
  justify-content: space-between;
  text-align: center;
  height: 100vh;
}

.deets-wrapper .header-text {
  width: max-content;
  align-self: baseline;
}

.data-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-text {
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 2rem;
}

button {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  color: #1DA1F2;
  text-transform: uppercase;
  padding: .3rem 1rem;
  border: 4px solid #1DA1F2;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

button:hover {
  color: #B74F6F;
  border-radius: 50px;
  border-color: #B74F6F;
  transition: all 0.3s ease 0s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.bubble {
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: -webkit-fill-available;
}

code { 
  background: #f4f4f4;
  border: 1px solid #ddd;
  color: #666;
  font-size: .9rem;
}

#vis {
  min-width: 60%;
  height: 100vh;
}

#toolbar {
  margin-top: 10px;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #35281D;
  background: #fff;
	opacity: .9;
  color: #35281D;
	padding: 10px;
	width: fit-content;
	font-size: .8rem;
	z-index: 10;
}

.tooltip .title {
	font-size: 1rem;
}

.tooltip .name {
  font-size: .8rem;
  font-weight: bold;
}

.tooltip span {
  color: #35281D;
}