html {
  font-size: 16px;
}

body {
  display: flex;
  font-family: 'Raleway', sans-serif;
  color: #109BF2;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  background: radial-gradient(circle at bottom center, #15202a 15px, #0a344e)

}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  width: 33%;
  min-width: 33%;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.deets-wrapper {
  font-size: 1.5rem;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.15);
  border: 2px solid;
  border-radius: 5px;
  padding: 1em;
  color: white;
  background: #109BF2;
}

.city-select {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin: 1.5em 0;
}

label {
  margin-right: 1em;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

span {
  font-weight: bold;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 1em;
  height: 100vh;
  width: 66%;
  /* background: radial-gradient(circle at 100%, #15202a, #e66465 50%, #15202a 100%) */
}

.data-wrapper {
  width: 100%;
  height: 100vh;
}

.bubble {
  cursor: pointer;
  opacity: .9;
}

li {
  margin: 1em 0;
  font-size: 1rem;
}

li:last-child {
  margin-bottom: 0;
}

code { 
  background: #f4f4f4;
  border: 1px solid #ddd;
  color: #666;
  font-size: .9rem;
}

/* Tooltip Styles */

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #35281D;
  background: #fff;
	opacity: .9;
  color: #35281D;
	padding: 10px;
	width: fit-content;
	font-size: .8rem;
	z-index: 10;
}

.tooltip .title {
	font-size: 1rem;
}

.tooltip .name {
  font-size: .8rem;
  font-weight: bold;
}

.tooltip span {
  color: #35281D;
}

/* Dropdown Styles */

.select-css {
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}


